.image > img {
  border-radius: 100%;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.welcome {
  display: flex;
}

.welcome > h1 {
  margin: 0 var(--margin-md);
  text-align: center;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 300;
}
