.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  font-size: 2rem;
  text-align: center;
}

.wrapper {
  padding: var(--padding-md);
  padding-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row > span {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0.5rem 0;
  align-self: flex-start;
}

.weather {
  align-items: center;
}
.info {
  display: flex;

  justify-content: space-around;
}

.temp {
  position: relative;
  bottom: 1.5rem;
}

.tempNum {
  font-size: 5rem;
}

.stats {
  width: 100%;
}
.stats > ul {
  padding: 0;
  text-align: center;
}

.stats > ul > li {
  list-style: none;
  margin: 0.1rem 0;
}

.tag {
  font-size: 0.6rem;
  font-weight: 600;
  margin: 0.25rem 0;
}
