.tag {
  font-size: 0.6rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

.green {
  color: lawngreen;
  margin: 0 var(--margin-sm);
}

.red {
  color: red;
  margin: 0 var(--margin-sm);
}

.symbol {
  font-weight: 200;
  font-size: 0.8rem;
  margin: var(--margin-sm);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--component);
  padding: var(--padding-md);
  border-radius: var(--border-radius);
  overflow: scroll;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1.5;
  flex-direction: column;
  width: 100%;
}

.graphs > div {
  display: flex;
  flex-grow: 1.2;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* gap: var(--margin-sm); */
}

.info > div {
  margin: 0 var(--margin-md);
}

.yourCrypto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.yourCrypto > div {
  display: flex;
  flex-direction: column;
  margin: var(--margin-md);
}

.addWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 150px;
}

.addWrapper > div {
  margin: var(--margin-sm) 0;
}
.addWrapper > div > button:hover {
  cursor: pointer;
}

.addWrapper > div > button {
  width: 100%;
}
